body {
    margin: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f9f9;
    border: 10px solid #fbfbfb;
    border-radius: 5px;
}

.center > .btn {
    margin: 25px;
}

.fav_btn {
    position: absolute;
    right: 20px;
    max-width:1.6em;
    height: 28px;
}

.txt-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
}